.ant-btn + .ant-btn{
  margin-left: 10px;
}


.table-header{
  overflow-x: auto;

  .header-item {
    float: left;
    margin: 5px;

    &.input{
      width: 10em;
    }
  }
}

.table-footer{
 @extend .table-header;

  .footer-item{
    @extend .header-item;
  }
}